<div class="row">
  <div class="col-xs-12">
    <div class="card shadow-paper">
      <div class="card-block">
        <h1>About</h1>
        <hr>
        <p>
          Most religions throughout the world believe that a higher power will do something special in the world
          when people pray.
        </p>
        <p>
          But, does anything actually happen?
        </p>
        <p>
          People often say "Our prayers are with you in this difficult time"
        </p>
        <p>
          But, do they actually pray?
        </p>
        <p>
          Well, we believe a higher power <em>does</em> act on behalf of people and we also believe most
          people <em>intend</em> to pray, but lose motivation when they don't know:
          <ol>
            <li><strong>What</strong> to pray for, or</li>
            <li>If the prayer is being <strong>answered</strong></li>
          </ol>
        </p>
        <h4>
          That's why we created <em>My Prayer Team</em>
        </h4>
        <p>
          With <em>My Prayer Team</em> you can:
          <ul>
            <li>Send out prayer requests whenever you are facing a difficult time.</li>
            <li>Mark prayers as answered, so everyone knows their prayers have been effective.</li>
            <li>Send out praises for things you've seen your higher power do in your life.</li>
            <li>Look back over the years as all your higher power has done for you or your organization.</li>
            <li>Grow a following of people to pray for you, your cause, or organization.</li>
            <li>Join in praying for people, causes, events, and organizations you believe in!</li>
          </ul>
        </p>
        <p>
          Join today!
        </p>
      </div>
    </div>
  </div>
</div>
