<div class="row">
  <div class="col-xs-12">
    <div class="card shadow-paper">
      <div class="card-header">
        <h1>Contact</h1>
      </div>
      <div class="card-block">
        <address>
          <p>
            <i class="fa fa-user"></i> You can read more about My Prayer Team's creator, Brian Scramlin at <a href="http://brianscramlin.com">brianscramlin.com</a>.<br>
            <i class="fa fa-bug"></i> If you see any bugs, please <a href="mailto:brian@nerdspecs.com">contact him</a>.
          </p>
        </address>
        <p>
          You may also want to snail mail him:
        </p>
        <address>
          <p>
            My Prayer Team<br>
            Attn: Brian Scramlin<br>
            263 Shady Lane<br>
            Wabash, IN 46953<br>
            USA
          </p>
        </address>
      </div>
    </div>
  </div>
</div>
