<h1>Contact</h1>
<hr>
<address>
  <p>
    &#9993; You can read more about My Prayer Team's creator, Brian Scramlin at <a href="http://nerdspecs.com">nerdspecs.com</a>.<br>
    &#10026; If you see any bugs, please <a href="mailto:brian@nerdspecs.com">contact me</a>.
  </p>
</address>
<p>
  You may also want to snail mail us:
</p>
<address>
  <p>
    My Prayer Team<br>
    Attn: Brian Scramlin<br>
    263 Shady Lane<br>
    Wabash, IN 46953<br>
    USA
  </p>
</address>
