<h1>Contact</h1>
<address>
  <p>
    &#9993; You can contact Brian Scramlin at <a href="nerdspecs.com">nerdspecs.com</a>.<br>
    &#10026; If you see any bugs, please <a href="mailto:brian@nerdspecs.com">contact me</a>.
  </p>
  <p>
    You may also want to snail mail me:<br>
    Nerd Specs Creative<br>
    263 Shady Lane<br>
    Wabash, IN 46953<br>
    USA
  </p>
</address>
