<div class="row">
  <div class="col-xs-12">
    <div class="card shadow-paper">
      <div class="card-header">
      <% if user_signed_in? %>
        <h1>Welcome back!</h1>
      </div>
      <div class="card-block">
        You rock.
      </div>
      <% else %>
        <h1>Welcome to <em>My Prayer Team!</em></h1>
      </div>
      <div class="card-block">
        <p class="lead">Share and follow prayer requests between others!</p>
        <hr class="m-y-md">
        <p>
          Grow a following of people to pray for you, your cause, or organization.
          Join in praying for people, causes, events, and organizations you believe in!
        </p>
          <%= link_to "Learn More", about_path, class: "hidden-sm-down btn btn-primary btn-lg" %>
          <%= link_to "Sign Up", signup_path, class: "hidden-sm-down btn btn-warning btn-lg" %>
          <%= link_to "Learn More", about_path, class: "hidden-md-up btn btn-primary" %>
          <%= link_to "Sign Up", signup_path, class: "hidden-md-up btn btn-warning" %>
      <% end %>
    </div>
    </div>
  </div>
</div>
