<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
  <div class="container">
    <span class="navbar-brand">&#10050;</span>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "About", about_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", contact_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
