<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
  <div class="container">
    <span class="navbar-brand">&#10050;</span>
    <ul class="nav navbar-nav">
      <%= nav_link_to "Home", root_path, {:class => "nav-link"}, {:wrapper => "li", :wrapper_class => "nav-item"} %>
      <%= nav_link_to "About", about_path, {:class => "nav-link"}, {:wrapper => "li", :wrapper_class => "nav-item"} %>
      <%= nav_link_to "Contact", contact_path, {:class => "nav-link"}, {:wrapper => "li", :wrapper_class => "nav-item"} %>
    </ul>
  </div>
</nav>
